/* Rushy Panchal
_menulib.scss */

$base-color: blue;

$nav-menu-elem-padding: 64px;

$nav-icon-color: black;
$nav-icon-open-color: $base-color;
$nav-icon-size: 32px;
$nav-elem-padding: 15px;
$nav-icon-padding: 3px 5px 3px 5px;

$nav-elem-color: black;
$nav-elem-active-color: $base-color;
